:root{
	--font-size: 16px;
	--main-content-top: 10vh;
}

*{
	box-sizing: border-box;
}

html{
	margin:0;
	padding: 0;
	/*overflow-x: hidden;*/
	font-family: 'Comfortaa', Geneva, Tahoma, Verdana, sans-serif;
	font-size: var(--font-size);
	letter-spacing: 1px;
}

body{
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
}

.back-button{
	display: flex;
	height: var(--main-content-top);
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
}



.back-button a{
	margin-left: 1vw;
}

.back-button a:hover img{
	transform: rotate(360deg);
	transition: transform .5s ease-in-out;
}

.back-button a:hover + .back-text {
	visibility: visible;
}

.back-button a img{
	width: 5vh;
	height: 5vh;
}

.back-button div{
	visibility: hidden;
	padding-left: 1vw;
	text-decoration: none;
}

.main-title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	padding: 1vh 0 3vh 0;
}

.main-projects{
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
	color: black;
}

.main-projects-item{
	display: flex;
	max-height: 70vh;
	margin: 0 0 2vh 0;
}

.main-projects-item-image{
	flex:4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-projects-item-image img{
	max-height: 70vh;
	max-width: 80vw;
}

.main-projects-item-title{
	flex:1; /* To give the title text 1/5th of the screen space */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: font-size 0.3s ease-in-out;
	flex-direction: column;
}

.main-projects-item-code-link{

}

.main-projects-item:hover > .main-projects-item-title{
	font-size: 2em;
	transition: font-size 0.3s ease-in-out;
}

/* To have the title alternate between left and right position on the screen */
div.main-projects a:nth-child(2n) div:nth-child(2n+1){
order: 2;
}

@media screen and (orientation: portrait) {

	.main-title{
		font-size: 3em;
	}

	.main-projects-item{
		/*border-bottom: 5px dotted black;*/
		/*border-top: 5px dotted black;*/
		padding: 5px 0 0 0;
		display: flex;
		flex-direction: column;
		margin: 0 0 4vh 0;
		max-width: initial;
		max-height: initial;
	}
	.main-projects-item-image img{
		max-width: initial;
		max-height: initial;
		width: 100vw;
	}

	/*.main-projects-item:hover{*/
		/*max-width: 100vw;*/
		/*max-height: fit-content;*/
	/*}*/

	/*.main-projects-item:hover img{*/
		/*transform: scale(1.5);*/
	/*}*/

	.main-projects-item-title{
		font-size: 2.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: font-size 0.3s ease-in-out;
		margin-right: 1vw;
	}
	.main-projects-item:hover > .main-projects-item-title{
		font-size: 3em;
		transition: font-size 0.3s ease-in-out;
	}
	div.main-projects a:nth-child(2n) div:nth-child(2n+1){
		order: initial;
	}
	.main-projects-item-title{
		order: 2;
	}
}
