
:root {
	--background-color: none;
	--burger-color: black;
	--color1: #EDFAFD;
	--color2: #AED9DA;
	--color3: #3DDAD7;
	--color4: #2A93D5;
	--color5: blue;
	--header-animation-time: .5s;
	--header-padding: 3vh;
	--font-size: 16px;
	--background: -3;
	--content: -2;
	--burger: 10;
	--nav: 9;
}

* {
	box-sizing: border-box;
}

html{
	margin:0;
	padding: 0;
	overflow: hidden;
	font-family: 'Comfortaa', Geneva, Tahoma, Verdana, sans-serif;
	font-size: var(--font-size);
	letter-spacing: 1px;
}
html::-webkit-scrollbar{
	display: none;
}
body{
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
	/*display: grid;*/
	/*grid-template-columns: 1fr;*/
	/*grid-template-rows: auto auto auto;*/
	/*grid-template-areas: "header" "all-content" "footer";*/
}
.c-all-content-intro{
	height: 100vh;
	display: flex;
}
.c-all-content-intro > *{
	flex: 1;
}
.c-all-content-middle:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 20vw;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 0.3;
	background-image: url('../assets/images/background_1.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}
.c-all-content-middle{
	/*background: url("../assets/images/background_1.jpg");*/
	background-size: cover;
	flex: 4;
	display: grid;
	grid-template-rows: 50% auto;
	grid-template-areas: "profile-pic-and-icons profile-pic-and-icons"
						 " profile-text profile-text";
}
.c-all-content-links{
	display: flex;
	flex-direction: column;
}
.c-all-content-links a {
	text-decoration: none;
}
.c-all-content-links > * {
	color: black;
	display: flex;
	height: 25vh;
	width: 20vw;
	align-items: center;
	justify-content: center;
	padding-right: 0.5vw;
	transition: font-size 0.3s ease-in-out;
	font-size: 1.2em;
	text-align: center;
}
.c-all-content-links>:hover {
	box-sizing: padding-box;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	transition: font-size 0.3s ease-in-out;
	padding-right: 0;
	border-right: 0.5vw solid black;
}
.c-profile-pic-and-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	grid-area: profile-pic-and-icons;
}
.c-profile-pic-and-icons-profile-pic{
	border: 0.1vh white solid;
	box-shadow: 5px 5px 5px #999;
	opacity: 0;
	border-radius: 50%;
	width: 40vh;
	height: 40vh;
	animation: profilePicAnimation 0.8s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2);
	animation-fill-mode: forwards;

}
.c-profile-pic-and-icons-social-icons{
	display: flex;
	flex-direction: column;
}
.c-profile-pic-and-icons-social-icons a:focus {
	background-color: transparent;
	outline: none;
}
.c-profile-pic-and-icons-social-icons a{
	text-decoration: none;
	color: var(--color4);
}
.c-profile-pic-and-icons-social-icons-link-github, .c-profile-pic-and-icons-social-icons-link-linkedin{
	border: 0.1vh white solid;
	border-radius: 50%;
	opacity: 0;
	width: 8vh;
	height: 8vh;
	margin-bottom: 1vh;
	margin-left: 2vh;
	transition: width 0.3s ease-in-out,
	height 0.3s ease-in-out;
}
.c-profile-pic-and-icons-social-icons-link-github:hover, .c-profile-pic-and-icons-social-icons-link-linkedin:hover{
	width: 9vh;
	height: 9vh;
	transition: width 0.3s ease-in-out,
				height 0.3s ease-in-out;
}
.c-profile-pic-and-icons-social-icons-link-github{
	border: 1px white solid;
	border-radius: 50%;
	animation: social-icon 1s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2 + 0.5s);
	animation-fill-mode: forwards;
}
.c-profile-pic-and-icons-social-icons-link-linkedin{
	animation: social-icon 1s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2 + 0.7s);
	animation-fill-mode: forwards;
}
.c-main-text{
	padding: 2.5vh 4vw 0 4vw;
	text-align: center;
	justify-self: center;
	opacity: 0;
	animation: visibility 0.5s ease-in;
	animation-delay: calc(var(--header-animation-time)*1.2 + 1.7s);
	animation-fill-mode: forwards;
	grid-area: profile-text;
	font-size: 1.5em;
	line-height: 1.375em;
}
.c-main-text-dynamic-text{
	margin: 2vh 0 0 0;
	color: dodgerblue;
	text-align: center;
	font-size: 2em;
	line-height: 1.375em;
}
@keyframes fadeInFromTop {
	0% {
		opacity: 0;
		transform: translate3d(0,-40px,0)
	}

	to {
		opacity: 1;
		transform: translateZ(0)
	}
}
@keyframes profilePicAnimation {
	0% {
		opacity: 0;
		transform: scale3d(0,0,0)
	}
	50% {
		opacity: 1;
		transform: scale3d(1.1,1.1,1.1);
	}
	80%{
		opacity: 0.8;
		transform: scale3d(0.9,0.9,0.9);
	}
	to {
		opacity: 1;
		transform: scale3d(1,1,1);
	}
}
@keyframes social-icon {
	0%{
		transform: translate(50vw, 0)
	}
	90%{

	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes project__item-animation{
	from {
		transform: translate(-50vw, 0);}
	to {
		opacity: 1;
		transform: translate(0, 0);}
}
@keyframes project__item-animation-even{
	from {transform: translate(50vw, 0);}
	to {
		opacity: 1;
		transform: translate(0, 0);}
}
@keyframes visibility{
	from {}
	to {opacity: 1;}
}

@media screen and (orientation: portrait){


	.c-all-content-links{
		z-index: 2;
		display: flex;
		flex-direction: column;
		position:absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		padding-top: 8vh;
		padding-bottom: 8vh;
		padding-right: 1.5vw;
		background-color: white;
		transform: translateX(-100vw);
		transition: transform 0.5s ease-out;
	}
	.c-all-content-links__active{
		transform:translateX(0);
	}
	.c-all-content-links > * {
		font-size: 2.5em;
		flex: 1;
		height: auto;
		width: 100vw;
		color: dimgray;
		text-decoration: none;
		transition: color .15s linear;
	}
	.c-all-content-links>:hover {
		box-sizing: padding-box;
		text-decoration: none;
		color: black;
		font-size: 3em;
		transition: font-size 0.3s ease-in-out, border-left-width 0.3s ease-in-out, border-right-width 0.3s ease-in-out;
		padding-right: 0;
		border-right: 1.5vw solid black;
	}
	.c-all-content-middle:before {
		left:0;
	}
	.c-navigation-burger{
		position: relative;
		z-index: 3;
		margin: 3vh 0 3vh 3vh;
		width: calc(30vw/6);
		height: calc(24vw/6);
		margin-right: 15px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		align-items: center;
	}

	.c-navigation-burger span{
		display: block;
		position: absolute;
		height: calc(4vw/6);
		width: 100%;
		background: var(--burger-color);
		border-radius: 2px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	.c-navigation-burger span:nth-child(1){
		top:0;
	}
	.c-navigation-burger span:nth-child(2){
		top: calc(10vw/6);
	}
	.c-navigation-burger span:nth-child(3){
		top: calc(20vw/6);
	}
	.c-navigation-burger__clicked span:nth-child(1){
		top: calc(10vw/6);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.c-navigation-burger__clicked span:nth-child(2){
		opacity: 0;
	}
	.c-navigation-burger__clicked span:nth-child(3){
		top: calc(10vw/6);
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.c-profile-pic-and-icons-profile-pic{
		width: 50vw;
		height: 50vw;
	}
	.c-profile-pic-and-icons-social-icons-link-github, .c-profile-pic-and-icons-social-icons-link-linkedin{
		opacity: 0;
		width: 10vw;
		height: 10vw;
		margin-bottom: 1vw;
		margin-right: 2vw;
		transition: width 0.3s ease-out, height 0.3s ease-out;
	}
	.c-profile-pic-and-icons-social-icons-link-github:hover, .c-profile-pic-and-icons-social-icons-link-linkedin:hover{
		width: 12vw;
		height: 12vw;
		transition: width 0.3s ease-out, height 0.3s ease-out;
	}
	.c-main-text{
		font-size: 3em;
	}
}