:root{
	--font-size: 16px;
	--id-height: 40vw;
	--id-height-mobile: 60vh;
	--main-content-top: 10vh;
}

* {
	box-sizing: border-box;
}



html{
	margin:0;
	padding: 0;
	font-family: 'Comfortaa', Geneva, Tahoma, Verdana, sans-serif;
	font-size: var(--font-size);
}

body{
	left: 0;
	margin: 0;
	padding: 0;
}

.back-button{
	display: flex;
	height: var(--main-content-top);
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
}



.back-button a{
	margin-left: 1vw;
}

.back-button a:hover img{
	transform: rotate(360deg);
	transition: transform .5s ease-in-out;
}

.back-button a:hover + .back-text {
	visibility: visible;
}

.back-button a img{
	width: 5vh;
	height: 5vh;
}

.back-button div{
	visibility: hidden;
	padding-left: 1vw;
	text-decoration: none;
}

.main{
	position: absolute;
	top: var(--main-content-top);
	display: flex;
	flex-direction: row;
	align-items: center;
	height: calc(100vh - var(--main-content-top));
	width: 100vw;
}

.main-id img{
	height: var(--id-height);
	min-height: 400px;
	transform: rotateZ(-10deg);
	transition: transform .3s ease-in-out;
}

.main-id:hover img{
	transform: rotate(0deg);
	transition: transform .3s ease-in-out;
}

.main-rest{
	display: flex;
	flex-direction: column;
	flex: 1;
	border-left: 5px dotted skyblue;
	margin-left: 30px;

}

.main-rest-row{
	display: flex;
	flex-direction: row;
	min-height: calc((100vh - var(--main-content-top))/4);
	justify-content: center;
}

.main-rest-row-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.main-rest-row-icon img{
	width: 100px;
	height: 100px;
}

.main-rest-row-text{
	flex: 4;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

.main-id-image{
	padding: 5vh;
	height: 50vh;
}

ins{
	text-decoration: none;
}

@media screen and (orientation: portrait){

	.main{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
		margin: 0 0 5vh 0;
	}

	.back-button a:hover + .back-text {
		visibility: hidden;
	}

	.main-id img{
		height: var(--id-height-mobile);
	}

	.main-rest{
		font-size: 2em;
		display: block;
		margin-left: 0;
		border: 0;
	}
	.main-rest-row{
		width: 100vw;
		flex-direction: column;
	}

	.main-rest-row-icon{
		width: 100vw;
		margin-left: 0;
		background-color: lightblue;
	}

	.main-rest-row-icon img{
		height: 20vw;
		width: 20vw;
		margin: 1vh 0 1vh 0;
	}
	.main-rest-row-text{
		padding: 0 10vw 0 10vw;
	}
}
