
:root {
	--background-color: white;
	--color1: #EDFAFD;
	--color2: #AED9DA;
	--color3: #3DDAD7;
	--color4: #2A93D5;
	--color5: #135589;
	--header-animation-time: .5s;
}

html{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	overflow-x: hidden;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	letter-spacing: 1px;
}
body{
	box-sizing: inherit;
	width: 100vw;
	margin: inherit;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "header" "all-content" "footer";
}
a{
text-decoration: none;
	color: var(--color4);
}
a:visited{
	text-decoration: none;
	color: var(--color4);
}
.c-header{
	z-index: 10;
	grid-area: header;
	box-sizing: inherit;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top:0;
	left:0;
	background: white;
	padding: 3vw 3vw;
	animation: fadeInFromTop var(--header-animation-time) ease-in-out;
}
.c-header__burger-container{
	display:flex;
	justify-content: center;
	align-items: center;
}
.c-header__burger{
	width: 40px;
	height: 30px;
	margin-right: 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.c-header__burger span{
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: var(--color5);
	border-radius: 7px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: 0.25s ease-in-out;
}
.c-header__burger span:nth-child(1){
	top:0px;
}
.c-header__burger span:nth-child(2){
	top: 13px;
}
.c-header__burger span:nth-child(3){
	top:26px;
}
.c-header__burger-clicked span:nth-child(1){
	top: 14px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.c-header__burger-clicked span:nth-child(2){
	opacity: 0;
	left: -45px;
}
.c-header__burger-clicked span:nth-child(3){
	top: 14px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.c-header__logo{
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 35px;
	color: var(--color4);
}
.c-header__nav{
	display: none;
}
.c-header__hire-me-button{
	align-self: center;
	background: #135589;
	color: white;
	border: none;
	height: 5vh;
}
.c-all-content{
	box-sizing: inherit;
}

.c-all-content__intro{
	display: grid;
	grid-template-columns: 4fr;
	grid-template-rows: auto auto;
	grid-template-areas:
			"profile-pic"
			"profile-text";
	justify-content: center;
}
#profile-pic-and-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2vh 0 1vh 0;
}
#profile-picture{
	opacity: 0;
	border-radius: 50%;
	width: 40vw;
	height: 40vw;
	justify-self: center;
	align-self: center;
	margin-right: 2vw;
	margin-left: 10vw;
	animation: profilePicAnimation 0.8s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2);
	animation-fill-mode: forwards;
}
.social-icons{
	display: flex;
	flex-direction: column;
}
#icon-github, #icon-linkedin{
	opacity: 0;
	width: 8vw;
	height: 8vw;
	margin-bottom: 1vw;
}
#icon-github{
	animation: social-icon 1s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2 + 0.5s);
	animation-fill-mode: forwards;
}
#icon-linkedin{
	animation: social-icon 1s ease-in-out;
	animation-delay: calc(var(--header-animation-time)*1.2 + 0.7s);
	animation-fill-mode: forwards;
}
#profile__text{
	padding: 1vh 4vw 0 4vw;
	margin: 0 0 3vh 0;
	text-align: justify;
	justify-self: center;
	opacity: 0;
	animation: visibility 0.5s ease-in;
	animation-delay: calc(var(--header-animation-time)*1.2 + 1.7s);
	animation-fill-mode: forwards;
}
.c-all-content__projects{
	box-sizing: inherit;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;

	margin: 0 0.5vw;
	padding: 0 0 0.5vw 0;
	justify-items: center;
	align-items: center;
}
#projects-title{
	padding: 0 0 2vh 0;
	font-size: x-large;
	opacity: 0;
	animation: visibility 0.5s ease-in;
	animation-delay: calc(var(--header-animation-time)*1.2 + 2.2s);
	animation-fill-mode: forwards;
}
.c-projects-portfolio{
	box-sizing: inherit;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5vw;
	margin: 0 0.5vw;
	justify-self: stretch;
}
.c-project__item{
	box-sizing: inherit;
	border: 1px solid transparent;
	border-radius: 1vw;
	height: calc((50vw - 0.5vw - 0.25vw)*1.5);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas: "status date" "image image" "title title";
	transition: all 0.5s ease-in;
	transition-delay: 0.25s;
}
.c-project__item:nth-child(n){
	opacity: 0;
	animation: project__item-animation 1s ease-in;
	animation-delay: calc(var(--header-animation-time)*1.2 + 2.7s);
	animation-fill-mode: forwards;
}
.c-project__item:nth-child(2n){
	opacity: 0;
	animation: project__item-animation-even 1s ease-in;
	animation-delay: calc(var(--header-animation-time)*1.2 + 2.7s);
	animation-fill-mode: forwards;
}
.c-project__item:hover{
		border-color: black;
}
.c-project__item__title{
	grid-area: title;
	justify-self: center;
	align-self: center;
}
.c-project__item__date{
	grid-area: date;
	justify-self: center;
	align-self: center;
}

#all-projects-link{
	display: flex;
	align-items: center;
	padding: 2vh 0 0 0;
}
#all-projects-link:after{
	content: "";
	display: block;
	background: url("assets/images/right-arrow.svg") no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin: 0 6px 0 6px;
}
@keyframes fadeInFromTop {
	0% {
		opacity: 0;
		transform: translate3d(0,-40px,0)
	}

	to {
		opacity: 1;
		transform: translateZ(0)
	}
}
@keyframes profilePicAnimation {
	0% {
		opacity: 0;
		transform: scale3d(0,0,0)
	}
	50% {
		opacity: 1;
		transform: scale3d(1.1,1.1,1.1);
	}
	80%{
		opacity: 0.8;
		transform: scale3d(0.9,0.9,0.9);
	}
	to {
		opacity: 1;
		transform: scale3d(1,1,1);
	}
}
@keyframes social-icon {
	0%{
		transform: translate(400px, 0)
	}
	90%{

	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes project__item-animation{
	from {
		transform: translate(-50vw, 0);}
	to {
		opacity: 1;
		transform: translate(0, 0);}
}
@keyframes project__item-animation-even{
	from {transform: translate(50vw, 0);}
	to {
		opacity: 1;
		transform: translate(0, 0);}
}
@keyframes visibility{
	from {}
	to {
		opacity: 1;}
}
}
@media screen and (min-width: 1023.98px) {
	.c-header__nav{
		display: flex;
		flex:1;
		justify-content: flex-end;
		align-items: center;
	}

	.c-header__list{
		border: #2A93D5 solid 2px;
		text-align: center;
		margin: 0 15px;
	}

	.c-header__link{
		margin: 0 5px;
		font-size: 14px;
	}

	.c-projects{
		top:100px;
		margin: 200px 0px;
	}
}