

:root {
	--background-color: white;
	--color1: #EDFAFD;
	--color2: #AED9DA;
	--color3: #3DDAD7;
	--color4: #2A93D5;
	--color5: #135589;
}

html, body{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	display: grid;
}


.c-header{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	background: white;
	flex-wrap: wrap;
	padding: 3vw 3vw;
}

.c-header__burger-container{
	display:flex;
	justify-content: center;
	align-items: center;
}
.c-header__burger{
	width: 60px;
	height: 45px;
	margin-right: 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.c-header__burger span{
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: var(--color5);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: 5s ease-in-out;
}

.c-header__burger span:nth-child(1){
	top:0px;
}
.c-header__burger span:nth-child(2){
	top: 18px;
}
.c-header__burger span:nth-child(3){
	top:36px;
}
.c-header__burger-clicked span:nth-child(1){
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.c-header__burger-clicked span:nth-child(2){
	opacity: 0;
	left: -60px;
}
.c-header__burger-clicked span:nth-child(3){
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.c-header__logo{
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 45px;
	color: var(--color4);
}

.c-header__nav{
	display: none;
}
@media screen and (min-width: 1023.98px) {
	.c-header__nav{
		display: flex;
		flex:1;
		justify-content: flex-end;
		align-items: center;
	}

	.c-header__list{
		text-align: center;
		margin: 0 15px;
	}

	.c-header__link{
		margin: 0 5px;
		font-size: 14px;
	}

	.c-projects{
		top:100px;
		margin: 200px 0px;
	}
}