html{
    background: url(images/drums.jpg) center;
    background-size: cover;
}
.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key{
    border: 0.3rem solid black;
    width:10rem;
    margin: auto;
    background: rgba(0,0,0,0.2);
    text-shadow: 0 0 .5rem black;
    transition: all 0.2s ease;
    color: aliceblue;
    font-size: xx-large;
}

.playing {
    transform: scale(1.1);
    border-color: gold;
    box-shadow: 0 0 1rem goldenrod;
}