
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#blurImage{
    position: absolute;
    z-index: -1;
    background: url("../Clock/images/wall.jpg") center;
    background-size: 105%;
    filter: blur(1px);
    width: 100%;
    height: 100%;
}

body {
    margin: 0; !important;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1{
align-self: center;
    height: 5%;
}

p {
    align-self: center;
}


.sliders{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 20%;
}

.input-container{
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    font-family: Amiri, sans-serif;
}

.slider {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20%; /* Do with javascript */
    height: 0.15rem;
    opacity:0.7;
    background: #d3d3d3;
    transition: opacity 0.2s;
    border: black solid;
    margin-bottom: 2rem;
}

.slider:hover {
    opacity:1;
}

.slider::-webkit-slider-thumb {
    height: 0.4rem;
    width: 0.4rem;
    background: chocolate;
    -webkit-appearance: none;
    cursor: grab;
}

.image_container{
    align-self: center;
    display: flex;
    width: 100%;
    height: 81%;
    justify-content: center;
    align-items: center;
}

#image-to-show{
    width: 60%;
    height: auto;
    border: black dashed 5px;
}